

body{
    background-color: #FFE0B5;
    font-family: 'Courgette';

    header{
        height: 45rem;
        background-image: url(../img/nuevaportada.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: space-around;
        align-items: initial;

        h1{
            color: #020122;
            text-align: center;
            text-transform: capitalize;
        }

        nav{

            ul{
                display: flex;

                li{
                    list-style: none;
                    margin: 0.5rem;
                    padding: 1rem;
                    font-size: 1.5rem;
                    text-decoration: underline;

                    a{
                        color: #020122;
                        text-decoration: none;
                        text-transform: none;
                    }
                }
            }
        }
    }

}

.logo{
    display:inline-flex;
}

.logoA{
    justify-content: start;
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
}

.menuLi:hover:not(.estiloMenu){
    background-color: #f5cac3;
    border-radius: 5rem;
}