

/* MediaQ tablet */ 

@media only screen and (max-width:1024px){
    .mainProyecto{
        height: 80vh;
        display: grid;
        grid-template-areas: "productos"
                             "p1 p1"
                             "botonUno botonUno"
                             "somos"
                             "p2 p2"
                             "botonDos botonDos"
                             "servicios"
                             "cardUno"
                             "diseño"
                             "cardDos"
                             "horarios redes";
}
    .cardTres, .p5{
    display: none;
}

    .mainProductos{
        height: 80vh;
        display: grid;
        grid-template-areas: "productosHDos"
                             "textoPUno textoPUno"
                             "textP textP"
                             "imgDelineador imgDelineador"
                             "textRubor textRubor"
                             "imgRubor imgRubor";}
    .textBrillo, .imgBrillo{
        display: none;
    }

/* MediaQ Conocenos y Contactanos permanecen iguales */

    .mainGaleria{
    height: 80vh;
    display: grid;
    grid-template-areas: "galeria"
                         "galeriaP galeriaP"
                         "galeriaUno"
                         "galeriaDos";
}
    .galeriaTres, .diseñoTres{
    display: none;
}

}



/* MediaQ mobile */

@media only screen and (max-width: 600px){
    .navLabel{
        display: block;
        cursor: pointer;
    }
    .navMenu{
        position: fixed;
        top: 80px;
        bottom: 0;
        width: 100%;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);
        transition: clip-phat 1s ease-in-out;
    }

    .navInput:checked + .navMenu{
        clip-path: circle(100% at center);
        background: #f9dcc4 ;
    }



    .mainProyecto{
        height: 80vh;
        display: grid;
        grid-template-areas: "productos"
                             "p1 p1"
                             "botonUno botonUno"
                             "somos"
                             "p2 p2"
                             "botonDos botonDos"
                             "servicios"
                             "cardUno"
                             "horarios redes";
    }
.cardTres, .cardDos, .p5, .diseño{
    display: none;
}

/* MediaQ mobile productos */

    .mainProductos{
    height: 80vh;
    display: grid;
    grid-template-areas: "productosHDos"
                         "textoPUno textoPUno"
                         "textP textP"
                         "imgDelineador imgDelineador";
}
.textBrillo, .imgBrillo, .textRubor, .imgRubor{
    display: none;
}

/* MediaQ Contactanos siguen iguales */



/* MediaQ mobile Conocenos */

    .mainConocenos{
    height: 80vh;
    display: grid;
    grid-template-areas: "meinHTres"
                         "meinP meinP"
                         "imgLugar imgLugar";
}
.meinHDos, .meinP, .imgTrabajo{
    display: none;
}


/* MediaQ galeria */

    .mainGaleria{
    height: 80vh;
    display: grid;
    grid-template-areas: "galeria"
                         "galeriaP galeriaP"
                         "galeriaUno"
                         "galeriaDos";
}
.diseñoTres, .diseñoDos{
    display: none;
}

}








